.formParent{
    font-size: 120% ;
    border: 2px solid hsl(335, 86%, 37%);
    border-radius: 30px;
    max-width: 75vw;
    align-self: center;
    padding: 20px;
}

.inputValue, #dropdown-basic-button {
    margin-right: 10px;
}

.outer {
    display: flex;
    justify-content: center;
}

.firstThreeFields {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.top-row {
    margin-right: 30px;
    margin-left: 30px;
}

.ingredientList {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.rowStyling {
    align-items: center;
}

.amFormInput {
    max-width: 100%;
    text-align: center;
    margin: 5px;
}

.addIngredientButton {
    margin: 5px;
}

.bodyWidth {
    width: 100%;
}

.allRecipeCard {
    width: 20vw;
    height: fit-content;
    min-height: 45vh;
    border: 2px solid hsl(335, 86%, 37%);
    border-radius: 30px;
    display: inline-grid;
    margin: 2rem 1rem;
}

.allRecipeCard h2 {
    max-height: 2.5rem;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: -.5rem;
}

.allRecipeCard h2 {
    font-size: 1.5rem;
}

.allRecipeCard img {
    width: 18vw;
    height: 28vh;
    padding: 5px;
    margin: 0 auto;
}