.recipe-card-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.recipe-card {
   border: 2px solid hsl(335, 86%, 37%);
   border-radius: 30px;
   margin: 10px;
   padding: 30px;
   width: 20vw;
   display: flex;
}

.randomRecipeCard {
   padding: 1rem;
}

.recipeImageReSize {
   width: 25vw;
   height: 25vw;
   border-radius: 30px;
}